body {
    background-color: #f3ebd1;
}

section.fundo {
    background-color: #f3ebd1;
    padding: 50px;
    margin: auto;
}


.list-group .list-item {
    position: relative;
    left: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.list-group .list {
    list-style-type: none;
}

hr {
    background-color: white;
}
.card-deck .card {
    border-radius: 30px;
    background-color: #f47318;
}

.card-body h5 {
    text-align: center;
    color: #e90f24;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}


/* ENDOMARKETING */

.titulo {
    padding: 20px;
    text-align: center;
    border: solid 1px #f47318;
    border-radius: 40px 20px 40px 20px;
    background-color: #f47318;
    color: #e90f24;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.planos {
    padding: 30px;
}

.plan-1 .temas {
    padding: 7px;
    margin: auto;
    color: #761a1d;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
/* FIM ENDOMARKETING */

/* ANALISE SWOT */

.card-body .new-title {
    font-size: 16px;
    font-weight: bold;
}

/* FIM ANALISE SWOT */